.xb-button{
    display: inline-block;
    width: 100px;
    line-height: 1;
    padding:12px 20px;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    font-size:14px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin:0;
    transition: .1s;
    font-weight:normal;
    border-radius: 3px;

}
.xb-button:hover{
    color: red；

}


.btn-default{
    border-color: #ccc;
    background-color: #fff;
    color:#333;
}
.btn-primary{
    border-color: #409eff;
    background-color: #409eff;
    color:#fff;
   
}
.btn-success{
    border-color: #67c23a;
    background-color:#67c23a;
    color:#fff;
}
.btn-warning{
    border-color: #f0ad4e;
    background-color: #f0ad4e;
    color:#fff;
}